/* You can add global styles to this file, and also import other style files */

.player:nth-of-type(1) {
  background-color: beige;
}
.player:nth-of-type(2) {
  background-color: burlywood;
}
.player:nth-of-type(3) {
  background-color: darkgreen;
}
.player:nth-of-type(4) {
  background-color: lightgreen;
}
