<div class="card clubs one"></div>
<div class="card clubs two"></div>
<div class="card clubs three"></div>
<div class="card clubs four"></div>
<div class="card clubs five"></div>
<div class="card clubs six"></div>
<div class="card clubs seven"></div>
<div class="card clubs eight"></div>
<div class="card clubs nine"></div>
<div class="card clubs ten"></div>
<div class="card clubs jack"></div>
<div class="card clubs queen"></div>
<div class="card clubs king"></div>

<div class="card hearts one"></div>
<div class="card hearts two"></div>
<div class="card hearts three"></div>
<div class="card hearts four"></div>
<div class="card hearts five"></div>
<div class="card hearts six"></div>
<div class="card hearts seven"></div>
<div class="card hearts eight"></div>
<div class="card hearts nine"></div>
<div class="card hearts ten"></div>
<div class="card hearts jack"></div>
<div class="card hearts queen"></div>
<div class="card hearts king"></div>

<div class="card spades one"></div>
<div class="card spades two"></div>
<div class="card spades three"></div>
<div class="card spades four"></div>
<div class="card spades five"></div>
<div class="card spades six"></div>
<div class="card spades seven"></div>
<div class="card spades eight"></div>
<div class="card spades nine"></div>
<div class="card spades ten"></div>
<div class="card spades jack"></div>
<div class="card spades queen"></div>
<div class="card spades king"></div>

<div class="card diamonds one"></div>
<div class="card diamonds two"></div>
<div class="card diamonds three"></div>
<div class="card diamonds four"></div>
<div class="card diamonds five"></div>
<div class="card diamonds six"></div>
<div class="card diamonds seven"></div>
<div class="card diamonds eight"></div>
<div class="card diamonds nine"></div>
<div class="card diamonds ten"></div>
<div class="card diamonds jack"></div>
<div class="card diamonds queen"></div>
<div class="card diamonds king"></div>
